header {
  width: 100%;
  height: 4vh;

  margin-top: 2rem;
  margin-bottom: 3rem;
}

header a {
  height: 3rem;

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  color: #fff;

  font-weight: 300;

  border-radius: 50px;
}

main {
  height: 70vh;
}

main section {
  height: 100%;
  display: flex;

  flex-direction: column;
  align-items: center;
}

main section .design-cultura {
  order: 2;
  margin-top: 1rem;
  height: 30vh;

  text-align: center;
  color: #fff;
}

main section .design-cultura h1 {
  font-size: 2rem;
  line-height: 3rem;
  margin-bottom: 0.5rem;
}

main section .design-cultura span {
  font-size: 1.1rem;
  font-weight: 200;
}

main section .design-cultura a {
  width: 200px;
  height: 2rem;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 auto;
  margin-top: 1rem;

  color: #fff;
  text-decoration: none;

  font-weight: 300;

  border: 1px solid #9337f4;

  background: #9337f4;

  transition: filter 0.5s;
}

main section .design-cultura a:hover {
  filter: brightness(1.6);
}

main section .slider-show {
  order: 1;

  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;

  margin-top: 3rem;
}

main section .slider-show img {
  width: 100%;

  height: 220px;

  text-align: center;
  margin: 0 auto;
}

main section .redes-sociais {
  display: none;
}

footer {
  height: 11vh;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #fff;

  border-top: 1px solid #9237f423;
}

footer p {
  font-weight: 100;
  text-align: center;
}

footer p a {
  color: #9337f4;
  text-decoration: none;
  font-weight: bold;
}

@media (min-width: 1024px) {
  header {
    margin: 0;
    height: 5rem;

    display: flex;
    align-items: center;
  }

  header a {
    height: 2.8rem;
    width: 200px;
  }

  main section {
    display: flex;
    align-items: center;
    justify-content: space-between;

    flex-direction: row;
  }

  main section .design-cultura {
    width: 50%;
    text-align: left;

    line-height: 3rem;
  }

  main section .design-cultura a {
    margin: 0;
  }

  main section .slider-show {
    width: 70%;
    order: 2;
  }

  main section .slider-show img {
    margin: 0;
    float: left;
    width: 100%;
    height: 300px;
  }

  main section .redes-sociais {
    width: 10%;
    order: 3;

    display: block;
  }

  main section .redes-sociais a {
    display: block;
    display: flex;
    flex-direction: column;

    align-items: flex-end;
  }

  main section .redes-sociais a + a {
    margin-top: 1rem;
  }

  main section .redes-sociais img {
    width: 20px;
  }

  footer {
    border-top: 0;
    margin: 0;
  }

  footer p {
    text-align: left;
  }
}
