* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto;
  font-size: 1rem;
  background-color: #0b0b0b;
}

.container {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;

  align-items: center;
}

.borda-gradiente {
  border: 1px solid;
  border-image-slice: 1;
  border-width: 2px;
  border-image-source: linear-gradient(to left, #e66475, #a13ede);
}

@media (max-width: 1024px) {
  .container {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
  }
}
